.landing {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url("../../../assets/LandingNew/Landing.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -0px -500px;
    background-attachment: fixed;
}


@media (max-width: 1030px) {
    .landing{
        background-position: center;
    }
    
}